#snippet {} ["description" [options]]
#{snippet body}
#endsnippet

snippet env "New environment" b
\begin{$1}
	$2
\end{$1}
$0
endsnippet

snippet \( "Math in-line block"
\($1\)$0
endsnippet

snippet \[ "Math block"
\[
	$1
\]$0
endsnippet

snippet ff "The LaTeX \frac{}{} command"
\frac{$1}{$2}$0
endsnippet

